<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div>hello1</div>
  <button id="postData">postData</button>
  <button id="getData1">getData1</button>
  <button id="getData2Fail">getData2 fail</button>
  <button id="getData2Success">getData2 success</button>
</body>

</html>